### Variables

In [3]:
a = "xyz"

In [10]:
b = [1, 2, 3]

In [17]:
c = b
b.pop()

2

In [ ]:
x = a
a.upper()

### Data types

In [23]:
t = ("x", 3, True)

In [41]:
## Exercise 2
list = [1, 2, 3, 400] 

1 in list
2 in list

False

### Data structures

In [45]:
t = "cat",
type(t)

tuple

In [46]:
l = [3.14, "xyz", t]

In [60]:
## Exercise 2
Mylist = [0.0, 2, ("a", "b", "c")]
Mylist[-2:]

[2, ('a', 'b', 'c')]

In [67]:
s = set(l)

In [70]:
toons = {'Snowy':"dog", "Garfield":"cat", "Bugs":"bunny"}

In [74]:
toons["Goofy"] = 'dog'

In [ ]:
## Exercise 3
...

### Iteration

In [79]:
letters = [x for x in "abcde"]
letters

['a', 'b', 'c', 'd', 'e']

In [81]:
CAPS = {x:x.upper() for x in "abcde"}
CAPS

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E'}

### Flow control

In [83]:
squares = []
for i in range(1, 5):
    j = i ** 2
    squares.append(j)
n_squares = len(squares)

squares

[1, 4, 9, 16]

In [ ]:
contacts = [
    {'name':..., 'phone':'555-111-2222'},
    {'name':..., 'phone':'555-333-4444'},
    ]
for ...:
    if ...:
        print(...['phone'])
    else:
        print(...['name'])

In [ ]:
## Exercise 4
...

### Function definition

In [ ]:
... add_two(x):
    ... = x + 2
    return ...

In [ ]:
def ...:
    result = ...
    return result

In [ ]:
## Exercise 5
...

In [89]:
toons.update({
  "Tweety" : "bird",
  'Bob':'sponge',
  'Bugs': 'rabbit',
  })

### Pandas

In [92]:
import pandas as pd
animals = pd.read_csv("data/animals.csv")

In [95]:
animals.loc[:, ["plot_id", "species_id"]]

       plot_id species_id
0            3         NL
1            2         DM
2            7         DM
3            3         DM
4            1         PF
5            2         PE
6            1         DM
7            1         DM
8            6         PF
9            5         DS
10           7         DM
11           3         DM
12           8         DM
13           6         DM
14           4         DM
15           3         DS
16           2         PP
17           4         PF
18          11         DS
19          14         DM
20          15         NL
21          13         DM
22          13         SH
23           9         DM
24          15         DM
25          15         DM
26          11         DM
27          11         PP
28          10         DS
29          15         DM
...        ...        ...
35519        9         DM
35520        9         DM
35521        9         DM
35522        9         PB
35523        9         OL
35524        8         OT
35525       13         DO
35526       13         US
35527       13         PB
35528       13         OT
35529       13         PB
35530       14         DM
35531       14         DM
35532       14         DM
35533       14         DM
35534       14         DM
35535       14         DM
35536       15         PB
35537       15         SF
35538       15         PB
35539       15         PB
35540       15         PB
35541       15         PB
35542       15         US
35543       15         AH
35544       15         AH
35545       10         RM
35546        7         DO
35547        5        NaN
35548        2         NL

[35549 rows x 2 columns]

In [100]:
animals[["hindfoot_length", "weight"]].describe()

       hindfoot_length        weight
count     31438.000000  32283.000000
mean         29.287932     42.672428
std           9.564759     36.631259
min           2.000000      4.000000
25%          21.000000     20.000000
50%          32.000000     37.000000
75%          36.000000     48.000000
max          70.000000    280.000000

In [101]:
animals_dm = animals.loc[animals["species_id"]=="DM",]

In [103]:
dm_stats = (
  animals_dm
  .groupby("sex")
  ['hindfoot_length', 'weight']
  .mean()
  )

dm_stats

     hindfoot_length     weight
sex
F          35.712692  41.609685
M          36.188229  44.353134

In [ ]:
## Exercise 6
...

### SQLAlchemy

In [106]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine

# Create the canvas for a map between Python objects and database records
Base = automap_base()

# Identify database, create the map from the schema, and prepare to create sessions
engine = create_engine('postgresql+pygresql://@localhost/portal')
Base.prepare(engine, reflect=True)
Session = sessionmaker(bind=engine)

In [118]:
Plots = Base.classes['plots']
Animals = Base.classes["animals"]
Species = Base.classes["species"]

In [119]:
plot = Plots(treatment='Control')

In [120]:
session = Session()
session.add(plot)
session.commit()

plot.id

26

In [127]:
query = session.query(Species).filter_by(id='RO')
species = query.one()

species.genus

'Reithrodontomys'

In [ ]:
plot_a = session.query(Plots).filter_by(id=1).one()
plot_b = session.query(Plots).filter_by(id=19).one()

In [ ]:
query = session.query(Animals).filter_by(year=2002, month=1, day=12)
animals_a = query.filter(...).all()
animals_b = query.filter(...).all()

In [ ]:
for animal in animals_a:
    ...
for animal in animals_b:
    ...

In [ ]:
...
animals_a[0].plots is plot_b

In [ ]:
query = (session
    .query(Animals)
    .join(Species)
    .filter_by(taxa='Rodent')
    )
rodents = ...